@font-face {
  font-family: 'vermin';
  src: url('../../assets/fonts/VerminVibes2-dBBV.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'audiowide';
  src: url('../../assets/fonts/Audiowide-en4g.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'arkitech';
  src: url('../../assets/fonts/ArkitechMedium-9mn7.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'embryonic';
  src: url('../../assets/fonts/embryonic-world-font/EmbryonicWorldRegular-5VJj.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'dodger';
  src: url('../../assets/fonts/dodger-font/Dodger-gKL4.otf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aeroliteSky';
  src: url('../../assets/fonts/aerolite-font/AeroliteSky-1lEv.otf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'space';
  src: url('../../assets/fonts/Spac3Neon-Rgp6.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}