@import '../../styles/utils/variables';

.wrapper {
  width: 0%;
  height: 3px;
  border: 0;
  background-color: transparent;
  overflow: hidden;
  animation: opening 2s ease-out forwards;
  box-sizing: border-box;
}

@keyframes opening {
  0% {
    width: 0%;
  }
  50% {
    height: 3px;
    width: 97%;
  }
  100% {
    height: 97%;
    width: 97%;
  }
}
